name: 'unit'

on:
  push:
    branches:
    - 'main'
    tags:
    - '*'
  pull_request:
    branches:
    - 'main'

jobs:
  test:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: 'actions/checkout@v2'

    - uses: 'actions/setup-go@v2'
      with:
        go-version: '1.17'

    - uses: 'actions/cache@v2'
      with:
        path: '~/go/pkg/mod'
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - run: 'make test-acc'
